<div class="navbar-header">
	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
		<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span>
		<span class="icon-bar"></span> <span class="icon-bar"></span>
	</button>
	<a class="navbar-brand" href="/audit" id="home" style="color:white;">Docket - Audit Server <sup>1.0</sup></a>
</div>

<ul class="nav navbar-top-links navbar-right">
	<input type="text" class="form-control" id="topNoOfRecords" placeholder="Set top no of records for timeline...">
	<span class="input-group-btn">
						<button class="btn btn-default" type="button" id="goBtn" style="margin-left: 254px;margin-top: -55px; color: #357EBD;">
							Go
						</button>
	 					<form action="/logout" method="post">
						<input class="btn btn-default" type="submit" value="Logout" id="goBtn" style="margin-left: -300px;margin-top: -55px; color: #357EBD">
</form>
					</span>
</ul>
<script type="text/javascript" src="/assets/js/jquery-1.10.2.js"></script>
<script type="text/javascript">
	$("#goBtn").click(
		function() {
			var topNoOfRecords = $("#topNoOfRecords").val();
			if (topNoOfRecords != '' || topNoOfRecords.length > 0) {
				$.ajax({
					type: 'GET',
					url: '/topNoOfRecords?value=' + topNoOfRecords,
					success: function(response) {
						if (response.status === 401) {
							window.location.href = "/login"
						} else {
							$("#timeLineData").html(response);
						}
					},
					error: function(err) {
						alertify.alert("value must be a integer and it should be greater than zero");
					}
				});
			}
		});
</script>