<!-- /.navbar-top-links -->
<div class="navbar-default navbar-static-side" role="navigation" style="margin-top: 6%;overflow: scroll;height:600px;">
	<form action="submit" name="dockerBean" method="get" id="dockerBean">
		<div class="sidebar-collapse">
			<ul class="nav" id="side-menu">
				<li class="sidebar-search">
					<div class="input-group custom-search-form">
						<div class="checkbox">
							<label> <input type="checkbox" checked="checked"
								id="immediatefetchcheckId">Immediate Fetch
							</label>
							<label>
								<button type="button" class="btn btn-primary" id="submitBtn">Apply</button>
							</label>
						</div>
						<!-- <input type="text" class="form-control" placeholder="Search...">
					<span class="input-group-btn">
						<button class="btn btn-default" type="button">
							<i class="fa fa-search"></i>
						</button>
					</span> -->
					</div>
					<!-- /input-group -->
				</li>
				<li><a href="/audit"><i
						class="fa fa-home fa-fw"></i> Docket - Audit Server</a></li>
				<li><a href="#"><i class="fa fa-th-list fa-fw"></i>
						Applications<span class="fa arrow"></span></a>
					<ul class="nav nav-second-level">
						<li><select class="form-control" id="applicationChange" name="application">
								<option value="" selected="selected">Select</option>
								{{#each application}}
									<option value={{this.application}}>{{this.application}}</option>
							{{/each}}
							</select>
						</li>
					</ul>
					<!-- /.nav-second-level -->
				</li>
				<li><a href="#"><i class="fa fa-arrow-circle-o-down fa-fw"></i> Sources<span
						class="fa arrow"></span></a>
					<ul class="nav nav-second-level">
						<li><select class="form-control" id="sourceChange" name="source">
								<option value="" selected="selected">Select</option>
								{{#each source}}
									<option value="{{this.source}}">{{this.source}}</option>
							{{/each}}
							</select>
						</li>
					</ul>
					<!-- /.nav-second-level -->
				</li>
				<li><a href="#"><i class="fa fa-sitemap fa-fw"></i> Ip
						Address<span class="fa arrow"></span></a>
					<ul class="nav nav-second-level">
						<li><select class="form-control" id="ipChange" name="ipAddress">
								<option value="" selected="selected">Select</option>
								<% ipAddress.forEach((doc)=> { %>
									<option value="<%= doc %>"><%= doc %></option>
							<%	}) %>
						</select>
						</li>
					</ul>
					<!-- /.nav-second-level -->
				</li>
				<li><a href="#"><i class="fa fa-warning fa-fw"></i> Levels<span
						class="fa arrow"></span></a>
					<ul class="nav nav-second-level">
						<li><select class="form-control" id="levelChange" name="level">
								<option value="" selected="selected">Select</option>
								<% level.forEach((doc)=> { %>
									<option value="<%= doc %>"><%= doc %></option>
							<%	}) %>
							</select>
						</li>
					</ul>
				</li>
				<li><a href="#"><i class="fa fa-calendar fa-fw"></i> Date
						Filter<span class="fa arrow"></span></a>
					<ul class="nav nav-second-level">
						<li> <label style="margin-left:10px;">From Date:</label>
							<div class="form-group">
								<div class='input-group date' id='fromDatePicker' data-date-format="DD-MM-YYYY">
									<input type='text' class="form-control" name="fromDate" id="fromDate" placeholder="DD-MMM-YYYY" />
									<span class="input-group-addon"><span
										class="glyphicon-calendar glyphicon"></span> </span>
								</div>
							</div>
						</li>
						<li><label style="margin-left:10px;">To Date:</label>
							<div class="form-group">
								<div class='input-group date' id='toDatePicker' data-date-format="DD-MM-YYYY">
									<input type='text' class="form-control" name="toDate" id="toDate" placeholder="DD-MM-YYYY" />
									<span class="input-group-addon"><span
										class="glyphicon-calendar glyphicon"></span> </span>
								</div>
							</div>
						</li>
					</ul>
					<!-- /.nav-second-level -->
				</li>
				<li><a href="#"><i class="fa fa-user fa-fw"></i> User Name<span
						class="fa arrow"></span></a>
					<ul class="nav nav-second-level">
						<li><select class="form-control" id="createdUserChange" name="createdBy">
								<option value="" selected="selected">Select</option>
								<%  createdBy.forEach((doc)=> { %>
									<option value="<%= doc %>"><%= doc %></option>
							<%	}) %>
							</select>
						</li>
					</ul>
				</li>
				<li><a href="#"><i class="fa fa-tasks fa-fw"></i> Event Status<span
						class="fa arrow"></span></a>
					<ul class="nav nav-second-level">

						<li><select class="form-control" id="statusDataChange" name="status">
								<option value="" selected="selected">Select</option>success
								<% status.forEach((doc)=> { %>
									<option value="<%= doc %>"><%= doc %></option>
							<%	}) %>
							</select>
						</li>
					</ul>
				</li>
			</ul>

			<div class="customer-logo"></div>
			</br>


			<!-- /#side-menu -->
		</div>
		<!-- /.sidebar-collapse -->
	</form>

</div>
</nav>
<!-- /.navbar-static-side -->
<!-- Core Scripts - Include with every page -->
<script src="/assets/js/jquery-1.10.2.js"></script>
<script src="/assets/js/moment.js"></script>
<script src="/assets/js/bootstrap-datepicker.js"></script>
<script type="text/javascript">
	$('#fromDatePicker').datetimepicker();
	$('#toDatePicker').datetimepicker();
</script>
<!-- <script src="../table.ejs"></script> -->

<script type="text/javascript">
	$("#statusDataChange").change(function() {
		if ($("#immediatefetchcheckId").is(":checked")) {
			var data = $("#statusDataChange").serialize();
			$.ajax({
				type: 'GET',
				url: '/audit',
				data: data,
				success: function(response) {
					if (response.status === 401) {
						window.location.href = "/login"
					} else {
						$("#docket_table_div").html(response);
						$("#ajax-loader").hide();
					}
				},
				error: function(err) {
					$("#ajax-loader").hide();
					alertify.alert(err);
				}
			});
		}
	});

	$("#createdUserChange").change(function() {
		if ($("#immediatefetchcheckId").is(":checked")) {
			var data = $("#createdUserChange").serialize();
			if (data != '') {
				$("#ajax-loader").show();
				$.ajax({
					type: 'GET',
					url: '/audit',
					data: data,
					success: function(response) {
						if (response.status === 401) {
							window.location.href = "/login"
						} else {
							$("#docket_table_div").html(response);
							$("#ajax-loader").hide();
						}
					},
					error: function(err) {
						$("#ajax-loader").hide();
						alertify.alert(err);

					}
				});
			}
		}
	});

	$("#applicationChange").change(function() {
		if ($("#immediatefetchcheckId").is(":checked")) {
			var data = $("#applicationChange").serialize();
			if (data != '') {
				$("#ajax-loader").show();
				$.ajax({
					type: 'GET',
					url: '/audit',
					data: data,
					success: function(response) {
						if (response.status === 401) {
							window.location.href = "/login"
						} else {
							$("#docket_table_div").html(response);
							$("#ajax-loader").hide();
						}
					},
					error: function(err) {
						$("#ajax-loader").hide();
						alertify.alert(err);
					}
				});
			}
		}
	});

	$("#sourceChange").change(function() {
		if ($("#immediatefetchcheckId").is(":checked")) {
			var data = $("#sourceChange").serialize();
			if (data != '') {
				$("#ajax-loader").show();
				$.ajax({
					type: 'GET',
					url: '/audit',
					data: data,
					success: function(response) {
						if (response.status === 401) {
							window.location.href = "/login"
						} else {
							$("#docket_table_div").html(response);
							$("#ajax-loader").hide();
						}
					},
					error: function(err) {
						$("#ajax-loader").hide();
						alertify.alert(err);
					}
				});
			}
		}
	});

	$("#ipChange").change(function() {
		if ($("#immediatefetchcheckId").is(":checked")) {
			var data = $("#ipChange").serialize();
			var ip = data.replace(".", "*");
			while (ip.indexOf(".") > 0) {
				ip = ip.replace(".", "*");
			}
			if (data != '') {
				$("#ajax-loader").show();
				$.ajax({
					type: 'GET',
					url: '/audit',
					data: data,
					success: function(response) {
						if (response.status === 401) {
							window.location.href = "/login"
						} else {
							$("#docket_table_div").html(response);
							$("#ajax-loader").hide();
						}
					},
					error: function(err) {
						$("#ajax-loader").hide();
						alertify.alert(err);
					}
				});
			}
		}
	});

	$("#levelChange").change(function() {
		if ($("#immediatefetchcheckId").is(":checked")) {
			var data = $("#levelChange").serialize();
			if (data != '') {
				$("#ajax-loader").show();
				$.ajax({
					type: 'GET',
					url: '/audit',
					data: data,
					success: function(response) {
						if (response.status === 401) {
							window.location.href = "/login"
						} else {
							$("#docket_table_div").html(response);
							$("#ajax-loader").hide();
						}
					},
					error: function(err) {
						$("#ajax-loader").hide();
						alertify.alert(err);
					}
				});
			}
		}
	});

	$("#immediatefetchcheckId").change(function() {
		if ($(this).is(":checked")) {
			$("#submitBtn").attr('disabled', true);
		} else {
			$("#submitBtn").attr('disabled', false);
		}

	});
	$("#immediatefetchcheckId").is(":checked") ? $("#submitBtn").attr(
		'disabled', true) : $("#submitBtn").attr('disabled', false);

	$("#submitBtn").click(function() {
		if ($("#toDate").val() == '' || $("#fromDate").val() == '') {
			alertify.alert("To Date/From Date Missing");
			return false;
		}
		var dockerBean = $("#dockerBean").serialize();

		$("#ajax-loader").show();
		$.ajax({
			type: 'GET',
			url: '/audit',
			data: dockerBean,
			success: function(response) {
				if (response.status === 401) {
					window.location.href = "/login"
				}
				$("#docket_table_div").html(response);
				$("#ajax-loader").hide();
				var rowCount = $('#docker_report_table > tbody >tr >td').html();
				console.log("rowCount\t" + rowCount);
				if (rowCount == 'No data available in table') {
					alertify.alert("Data not available for this criteria");
				}
			},
			error: function(err) {
				$("#ajax-loader").hide();
				alertify.alert(err);
			}
		});
	});
</script>